<h1 class="main-heading">
    Create New User
</h1>
<div class="form-wrapper mat-elevation-z8">
    <form [formGroup]="newStoreUser" (ngSubmit)="onSubmit()" >
        <div class="field-wrapper">
            <mat-form-field>
                <mat-label>Select Franchise</mat-label>
                <mat-select formControlName="franchiseId"  required >
                  <mat-option  *ngFor="let c of allFranchises" [value]="c._id"    >
                    {{c.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="First Name" formControlName="firstName" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Last Name" formControlName="lastName" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Email" formControlName="email" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="password" placeholder="Password" formControlName="password" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><input type="password" placeholder="Confirm Password" formControlName="confirmPassword" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field>
              <mat-select placeholder="Select Role" formControlName="role">

              <mat-option value="franchise admin">Franchise Admin</mat-option>
              <mat-option value="store admin">Store Admin</mat-option>
              <mat-option value="accountant">Accountant</mat-option>

            </mat-select>

            </mat-form-field>
        </div>

        <div class="field-wrapper">
            <mat-form-field><input type="text" placeholder="Phone" formControlName="phone" matInput></mat-form-field>
        </div>
        <div class="field-wrapper">
            <mat-form-field><textarea matInput name="" id="" cols="30" rows="5" formControlName="address" placeholder="Address"></textarea></mat-form-field>
        </div>
        <div class="field-wrapper">
            <input type="file">
        </div>
        <div class="field-wrapper button-wrapper"><button mat-raised-button type='submit' color='accent'>Submit</button></div>
    </form>
</div>
