<h1 class="main-heading">Sales List</h1>
<div class="main-button-wrapper">
    <div class="buttons">
            <button mat-raised-button color="primary" [routerLink]='["newSale"]' type="button"> <fa-icon [icon]="iconPack.plus" ></fa-icon> Create New Table</button>
    </div>
    <div class="buttons">
            <button mat-raised-button color="warn" type="button">Summary</button>
    </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <mat-spinner ></mat-spinner>
</div>
<app-table *ngIf="checker" [incommingData]="saleInvoices"></app-table>
