<div class="container" [ngClass]='visibleState ? "show":"hidden"'>
    <div class="content-area">
        <div class="form-wrapper">
            <div class="icon-wrapper">
                <fa-icon [icon]='iconPack.cross' (click)='visibleStateToggler()'></fa-icon>
            </div>
            <h1 class="main-heading">
                Create Branch Form
            </h1>
            <form [formGroup]='createBranchForm' (ngSubmit)='submit()'>
                <div class="field-wrapper">
                    <mat-form-field><input type="text"  matInput placeholder="Branch Name" formControlName='franchiseName'></mat-form-field>
                </div>
                <div class="field-wrapper">
                    <mat-form-field><input type="text"  matInput placeholder="Address" formControlName='address'></mat-form-field>
                </div>
                <div class="field-wrapper">
                    <mat-form-field><input type="text"  matInput placeholder="Phone" formControlName='phone'></mat-form-field>
                </div>

                <div class="field-wrapper button-wrapper"><button mat-raised-button color='accent' type='submit'>Save</button></div>
            </form>
        </div>
    </div>
    <div class="gutter-area" (click)='visibleStateToggler()'></div>
</div>
