.badge-container {
    display: flex;
    flex-flow: row nowrap;
    transition: 700ms;
    width: 300px;
    justify-content: center;
    height: 60px;
    .badge-vertical-align {
        flex: 0 1 100%;
        display: flex;
        padding-top: 8px;
        flex-flow: column nowrap;
    }
}
.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.info-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: right;
    color: white;
}
.image-wrapper {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    img {
        width: 100%;
        height: 100%;
    }    
}
.badge-container:hover {
    background-color: white;
    box-shadow: 0 10px 20px rgba(128, 128, 128, 0.288);
    cursor: pointer;
    transition: 400ms;
    .info-area{
        color: #3498DB;
    }
    .image-wrapper {
        border-color: #3498DB;
    }
}
.content-expansion {
    height: 0px;
    padding: 0px;
    transition: 400ms;
    .links {
        display: none;
    }
    .logout {
        display: none;
    }
    hr {
        display: none;
    }
}
.expanded {
    position: fixed;
    top: 0px;
    transition: 550ms;
    right: 0px;
    height: auto;
    background-color: white;
    color: #3498DB;
    box-shadow: 0 10px 20px rgba(128, 128, 128, 0.288);
    .info-area{
        color: #3498DB;
    }
    .image-wrapper {
        border-color: #3498DB;
    }
    .content-expansion {
        background-color: white;
        padding: 5px;
        transition: 400ms;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        .links {
            color: #3498DB;
            margin: 10px 0px;
            text-align: right;
        }
        .links,hr,.logout {
            display: initial;
        }
        hr {
            border:1px solid #3498DB;
            width: 100%;
        }
        .logout {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
        }
    }
}
