<div class="badge-container" (click)='expand()' [ngClass]='state.expandedTrue ? "expanded":"notExpanded"'>
    <div class="badge-vertical-align">
       <div class="content">
           <div class="info-area">
            <div class="name">
                {{state.name}}
            </div>
            <div class="branchName">
                {{state.branchName}}
            </div>
           </div>
           <div class="picture-area">
               <div class="image-wrapper">
                   <img src="../../../../../../assets/slicing/user-2.svg" alt="">
               </div>
           </div>
       </div>
       <div class="content-expansion">
           <div class="links">Change Branch</div>
           <hr>
           <div class="logout">
               <button mat-button (click)='logoutStore()'> <fa-icon [icon]='iconPack.logoutLogo'></fa-icon> Logout</button>
           </div>
       </div>
    </div>
</div>