<h1 class="main-heading">Branch</h1>
<div class="main-button-wrapper">
    <div class="buttons"><button mat-raised-button color="primary" (click)='openForm()'> <fa-icon [icon]="iconPack.plus"></fa-icon> Create New Branch</button></div>
</div>
<app-create-branch></app-create-branch>
<mat-spinner *ngIf="isLoading" class="center"></mat-spinner>
<app-branch-table *ngIf="checker" [incomingData]="tableData"></app-branch-table>

