<div class="background-container">
  <div class="vertical-align">
    <div class="login-area">
      <div class="image-area">
        <div class="image-wrapper">
          <img src="../../../../../assets/SVG/loginlogo.svg" alt="">
        </div>
      </div>
      <form [formGroup]="loginForm" action="" (ngSubmit)="login()">
            <mat-form-field><input type="text" formControlName='email' matInput placeholder="Email"></mat-form-field>
            <mat-form-field><input type="password" formControlName='password' matInput placeholder="Password"></mat-form-field>
            <div class="button-wrapper"><button color="primary" mat-raised-button type="submit">Submit</button></div>
        </form>
        <div *ngIf="isLoading" style="display:flex; justify-content: center">
        <mat-spinner  class="position-sticky"></mat-spinner>
      </div>
    </div>
  </div>


</div>
