form {
    flex-flow: column nowrap;
    display: flex;
    .button-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        button {
            flex: 0 1 250px;
            border-radius: 30px;
            height: 60px;
            background-color: black;
            color: white;
        }
    }
}
.background-container {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background: url('../../../../../assets/SVG/loginbakcground.svg');
    background-size: 100%;
}
.login-area {
    padding:50px;
    background-color: white;
    box-shadow: 0 3px 5px gray;
    height: 500px;
    border-radius: 30px;
    width: 450px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.heading {
    font-weight: 400;
    text-align: center;
    margin: 0px 0px;
    justify-content: center;
}
.vertical-align {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.image-area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    .image-wrapper {
        width: 250px;

    }
}