<div class='new-category-wrapper' [ngClass]='showStatus ? "show":"hidden"'>
        <div class="content-wrapper">
            <h1 class="main-heading">
                Create New Category
            </h1>
            <div class="form-wrapper">
                <form [formGroup]='categoryForm' (ngSubmit)='submit()'>
                    <div class="field-wrapper">
                        <mat-form-field><input type="text" formControlName='categoryName' matInput placeholder="Category Name"></mat-form-field>
                    </div>
                    <div class="button-wrapper">
                        <button mat-raised-button type='submit' color='accent'>Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="gutter-area" (click)='statusChanger()'>

        </div>
    </div>
