<h1 class="main-heading">
    Dashboard
</h1>
<div class="stat-grid">
    <div class='stat' *ngFor= 'let card of statCards'>
        <app-stat-card (click)=onClick(card.heading) [routerLink]="card.routerLink" [statCardData]='card'></app-stat-card>
    </div>
</div>
