<h1 class="main-heading">Sub-Category</h1>
<div class="main-button-wrapper">
    <div class="buttons">
        <button mat-raised-button color="primary" (click)='newSubCategory.statusChanger()'> <fa-icon [icon]="iconPack.plus"></fa-icon> Create New Sub Category</button>
    </div>
</div>
<mat-spinner *ngIf="isLoading" class="center"></mat-spinner>
<app-sub-category-table *ngIf ='checker'[incomingData]="tableData"></app-sub-category-table>
<app-new-sub-category #newSubCategory></app-new-sub-category>
