<h1 class="main-heading">
    Purchase List
</h1>
<div class="main-button-wrapper">
        <div class="buttons">
                <button mat-raised-button color="primary"type="button" [routerLink]='["newPurchase"]'> <fa-icon [icon]="iconPack.plus" ></fa-icon> Create New Purchase </button>
        </div>
        <div class="buttons">
                <button mat-raised-button color="warn" type="button">Summary</button>
        </div>
    </div>

    <div class="spinner" *ngIf="isLoading">
   <mat-spinner ></mat-spinner>
  </div>
<app-purchase-table *ngIf="checker" [incommingData]='purchaseData'></app-purchase-table>
