.franchise{
  display:flex;
  justify-content:center;
  flex-flow: column nowrap;
  width:30%
}
.table-message{
  display:flex;
  justify-content:center;
  h4{
    font-size: 24px;
    color:darkslategray
  }
}
.spinner {
  display:flex;
  justify-content:center;

}
