<h1 class="main-heading">Create New Product</h1>
<div class="form-wrapper">
    <form [formGroup]="productCreation" (ngSubmit)="submit()">
        <div class="fields-wrapper">
            <div class="field">
              <mat-form-field><input formControlName="productName" matInput placeholder="Product Name" type="text"></mat-form-field>
            </div>
            <div class="field">
                <mat-form-field><input formControlName="productCode" matInput placeholder="Product Code" type="text"></mat-form-field>
            </div>
            <div class="field">

              <mat-form-field>
                <mat-label>Select a Category</mat-label>
                <mat-select (selectionChange)="changeSelect($event.value)" >
                    <mat-option *ngFor="let cat of categoryTypes" [value]="cat">{{cat.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            </div>
            <div class="field">
              <mat-form-field>
                <mat-label>Select a Subcategory</mat-label>
                <mat-select  formControlName="subCategories">
                    <mat-option *ngFor="let items of subCategories" [value]="items">{{items}}</mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field><input formControlName="costPrice" matInput placeholder="Cost Price" type="text"></mat-form-field>
            </div>
            <div class="field">
                <div class="double-field">
                    <mat-form-field><input type="number" matInput placeholder="Track by Min Qty" formControlName='minimumQuantity'></mat-form-field>
                    <mat-form-field><input type="number" matInput placeholder="Track by Max Qty" formControlName='maximumQuantity'></mat-form-field>
                </div>
            </div>
            <div class="field">
                <mat-form-field><input formControlName="minimumRetailPrice" matInput placeholder="Minimum Retail Price" type="text"></mat-form-field>
            </div>
            <div class="field">
                <mat-form-field><input formControlName="productTax" matInput placeholder="Product Tax" type="text"></mat-form-field>
            </div>
            <div class="field">
                <mat-form-field><input formControlName="unit" matInput placeholder="unit" type="text"></mat-form-field>
            </div>
            <div class="field">
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName='status'>
                        <mat-option *ngFor="let stat of status" [value]="stat.value">{{stat.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="description">
                <mat-form-field>
                    <textarea formControlName="description"  cols="30" rows="3" matInput placeholder="Description"></textarea>
                </mat-form-field>
            </div>
            <div class="stockField">
                <mat-form-field>
                    <input formControlName="openingStock" type="text" matInput placeholder="Opening Stock">
                </mat-form-field>
            </div>
            <div class="imageField">
                <input (change)='onFileChange($event)' formControlName="imageField" type="file">
            </div>
            <div class="button-wrapper">
                <button mat-raised-button type="submit" color="primary">Save</button>
            </div>
        </div>
    </form>
</div>
