table {
    width: 100%;
}
.field-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 20px;
    mat-form-field {
        width: 500px;
    }
}
.imageIcon {
    color: #3498DB;
}