<div class="mat-elevation-z8">
    <div class="field-wrapper">
        <mat-form-field><input type="text" matInput (input)='searchFilter($event.target.value)' placeholder="Search Filter"></mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef = 'id'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef='let row; let i=index; '>{{i+1}}</td>
        </ng-container>
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> <h6>Image</h6> </th>
          <td mat-cell *matCellDef="let row"> <fa-icon class='imageIcon' [icon]='iconPack.image' size='2x'></fa-icon> </td>
        </ng-container>
        <ng-container matColumnDef = 'name'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef='let row'>{{row.name}}</td>
        </ng-container>
        <ng-container matColumnDef = 'inStock'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef='let row'>{{row.category.name}}</td>
        </ng-container>
        <ng-container matColumnDef = 'status'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef='let row'>{{row.status}}</td>
        </ng-container>
        <ng-container matColumnDef = 'unit'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
            <td mat-cell *matCellDef='let row'>{{row.unit}}</td>
        </ng-container>
        <ng-container matColumnDef = 'productCode'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Code</th>
            <td mat-cell *matCellDef='let row'>{{row.productCode}}</td>
        </ng-container>
        <ng-container matColumnDef = 'costPrice'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost Price</th>
            <td mat-cell *matCellDef='let row'>{{row.costPrice}}</td>
        </ng-container>
        <ng-container matColumnDef = 'minimumRetailPrice'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MRP</th>
            <td mat-cell *matCellDef='let row'>{{row.minimumRetailPrice}}</td>
        </ng-container>
        <ng-container matColumnDef = 'Actions'>
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef='let row'>
                <app-table-action buttons='["edit"]' (editHandler)="editHandler(row)" ></app-table-action>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row: columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[50,100]" showFirstLastButtons></mat-paginator>
</div>


<app-popup-form (formResult)='submitForm($event)'></app-popup-form>