<div class='new-sub-category-wrapper' [ngClass]='showStatus ? "show":"hidden"'>
    <div class="content-wrapper">
        <h1 class="main-heading">
            Create New Sub Category
        </h1>
        <div class="form-wrapper">
            <form [formGroup]="subcategoryForm" (ngSubmit)='submit()'>
                <div class="field-wrapper">
                    <mat-form-field><input type="text" matInput formControlName="subCategory" placeholder="Sub Category Name"></mat-form-field>
                </div>
                <div class="field-wrapper">
                        <mat-form-field>
                            <mat-label>Select a Category</mat-label>
                            <mat-select formControlName="categoryId">
                                <mat-option *ngFor="let cat of categoryTypes" [value]="cat._id">{{cat.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>
                <div class="button-wrapper">
                    <button mat-raised-button type='submit' color='accent'>Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="gutter-area" (click)='statusChanger()'>

    </div>
</div>