<div class="container" [ngClass]='visibleState ? "show":"hidden"'>
    <div class="content-area">
        <div class="form-wrapper">
            <div class="icon-wrapper">
                <fa-icon [icon]='iconPack.cross' (click)='visibleStateToggler()'></fa-icon>
            </div>
            <h1 class="main-heading">{{formTitle}}</h1>
            <form *ngIf='genericForm' action="" [formGroup]='genericForm' (ngSubmit)='submit(genericForm.value)'>
                <div class="field-wrapper" *ngFor='let label of formLabels'>
                    <mat-form-field><input type="text" matInput [placeholder]="label.placeholder" [formControlName]='label.name'></mat-form-field>
                </div>
                <div class="field-wrapper image=wrapper" *ngIf='image'>
                    <img [src]="image" alt="">
                </div>
                <div class="field-wrapper button-wrapper"><button mat-raised-button color='accent' type='submit'>Save</button></div>
            </form>
        </div>
    </div>
    <div class="gutter-area" (click)='visibleStateToggler()'></div>
</div>