form {
    display: flex;
    flex-flow: row wrap;
}
.select-wrapper {
    flex: 0 1 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .select-fields {
        flex: 0 1 25%;
        display: flex;
        flex-flow: column nowrap;
    }
}
.selection-area {
    flex: 1 1 auto;
    display: flex;
    height: 450px;
    flex-flow: column nowrap;
    .single-form-wrapper{
        flex: 0 1 auto;
    }
    .array-wrapper  {
        flex: 1 1 auto;
        display: flex;
        overflow: scroll;
        flex-flow: column nowrap;
        .fields-wrapper {
            flex: 0 1 auto;
            display: flex;
            flex-flow: row nowrap;
            .field {
                flex: 1 1 auto;
                padding: 0px 10px;
                mat-form-field {
                    width: 100%;
                }
            }
            .plus-button-wrapper {
                flex: 0 1 auto;
            }
        }

    }
}


.calculation-area {
    flex: 0 1 auto;
    padding: 0px 0px 0px 30px;
    flex-flow: row nowrap;
    display: flex;
    justify-content: flex-end;
    .calculation-fields {
        flex: 0 1 auto;
    }
    .button-wrapper {
        button {
            width: 100%;
        }
    }
}
.form-wrapper {
    background-color: white;
    box-shadow: 0 3px 5px rgba(128, 128, 128, 0.356);
    padding: 30px 30px;
}
