<h1 class="main-heading">Create New Sale</h1>
<div class="form-wrapper">
    <form [formGroup]="newSaleForm" (ngSubmit)="submitForm(newSaleForm.value)">

        <div class="select-wrapper">
            <div class="left-area select-fields">
           
                <mat-form-field>
                    <mat-label>Customer</mat-label>
                    <mat-select formControlName="customerType" >
                        <mat-option *ngFor="let customer of customerTypes" [value]="customer.value">{{customer.type}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Enter barcode value">
                </mat-form-field>
            </div>
            <div class="right-area select-fields">
                <mat-form-field><input formControlName='invoiceNo' type="number" matInput placeholder="Invoice Number"  readonly></mat-form-field>

                <mat-form-field>
                    <input matInput formControlName='date' [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Bill Type</mat-label>
                    <mat-select formControlName="billType" >
                        <mat-option *ngFor="let bill of billTypes" [value]="bill.value">{{bill.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="selection-area">
            <div class="single-form-wrapper">
                <app-sale-form-single [productList]='productList' (singleFormOutput)='addSingleProduct($event)'></app-sale-form-single>
            </div>
            <div class='array-wrapper' formArrayName='products'>
                <div class="fields-wrapper" *ngFor='let productSaleForm of productArray.controls;let i=index' [formGroupName]='i'>
                    <div class="field">
                        <mat-form-field>
                            <mat-label>Selected Product of Selected Franchise</mat-label>
                            <mat-select formControlName="productName" (selectionChange)='updateFormProduct($event,i)'>
                                <mat-option *ngFor="let product of productList" [value]="product.value">{{product.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="field">
                        <mat-form-field>
                            <input formControlName="unitPrice" type="number" readonly matInput placeholder="Unit Price" #unitPrice>
                        </mat-form-field>
                    </div>
                    <div class="field">
                        <mat-form-field>
                            <input formControlName="quantity" (input)='quantityChange(i)' type="number" matInput placeholder="Quantity" #quantity>
                        </mat-form-field>
                    </div>
                    <div class="field">
                        <mat-form-field>
                            <input formControlName="subTotal" type="number" readonly matInput placeholder="Sub Total" >
                        </mat-form-field>
                    </div>
                    <div class="field plus-button-wrapper">
                        <button mat-fab color="warn" type='button' (click)='deleteProduct(i)'><fa-icon [icon]="iconPack.cross"></fa-icon></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="calculation-area">
            <div class="calculation-fields">
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="total" type="number" matInput placeholder="Total (Excluding Vat)">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="discount" type="number" matInput placeholder="Discount">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="shippingCost" type="number" matInput placeholder="Shipping Cost">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="netTotal" type="number" matInput placeholder="Net Total">
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <mat-label>Payment Method</mat-label>
                        <mat-select formControlName="paymentMethod" >
                            <mat-option *ngFor="let method of paymentMethods" [value]="method.type">
                                {{method.type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="cal-field">
                    <mat-form-field>
                        <input formControlName="paid" type="number" matInput placeholder="Paid">
                    </mat-form-field>
                </div>
                <div class="cal-field button-wrapper">
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
