<div class="mat-elevation-z8">
    <div class="field-wrapper">
        <mat-form-field><input type="text" matInput placeholder="Search Filter" (input)='searchFilter($event.target.value)'></mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let row; let i=index">{{i+1}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{row.subCategories[0]}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
                <app-table-action buttons='["edit"]' (editHandler)='editHandler(row)'></app-table-action>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row: columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]='[5,10,20]' showFirstLastButtons></mat-paginator>
</div>
<app-popup-form></app-popup-form>
