<h1 class="main-heading">Supplier List</h1>
<div class="main-button-wrapper">
    <div class="buttons">
            <button mat-raised-button color="primary" type="button" [routerLink]='["../","supplierForm"]'> <fa-icon [icon]="iconPack.plus" ></fa-icon> Create New Supplier</button>
    </div>
    <div class="buttons">
            <button mat-raised-button color="warn" type="button">Summary</button>
    </div>
</div>
<div class="form-wrapper" >
</div>
<mat-spinner *ngIf="isLoading" class="center"></mat-spinner>
<app-supplier-table *ngIf='check' [incomingData]="tableData"></app-supplier-table>
