<form [formGroup]='saleSingleForm' (ngSubmit)='addProduct(saleSingleForm.value)'>
    <div class="fields-wrapper" >
        <div class="field">
            <mat-form-field>
                <input type="text" matInput formControlName='productName' (input)='updateFormProduct($event.target.value)' placeholder="Selected Product of Selected Franchise" [matAutocomplete]="auto">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='updateFormProduct($event.option.value)'>
                <mat-option *ngFor="let product of productList | productSearchFilter: saleSingleForm.controls['productName'].value" [value]="product.value">{{product.value}}</mat-option>
            </mat-autocomplete>
        </div>
        <div class="field">
            <mat-form-field>
                <input formControlName='unitPrice' type="number" matInput placeholder="Unit Price" readonly>
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field>
                <input formControlName='quantity' type="number" (input)='quantityChange($event)' matInput placeholder="Quantity">
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field>
                <input formControlName='subTotal' type="number" matInput placeholder="Sub Total" readonly>
            </mat-form-field>
        </div>
        <div class="field plus-button-wrapper">
            <button mat-fab color="primary" [disabled]='saleSingleForm.invalid' type='submit'><fa-icon [icon]="iconPack.plus"></fa-icon></button>
        </div>
    </div>
</form>
