<div class="mat-elevation-z8">
  <div class="field-wrapper">
      <mat-form-field><input type="text" matInput (input)='searchFilter($event.target.value)' placeholder="Search Filter"></mat-form-field>
  </div>
<table mat-table class="mat-elevation-z8" [dataSource]='dataSource' id="productTable">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let row;let i=index">{{i+1}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let row">{{row.role.roleName}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let row">
                <app-table-action buttons='["edit","detail","delete"]' (editHandler)="editHandler(row)" (detailHandler)="detailHandler(row)"></app-table-action>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row: columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  </div>
