<h1 class="main-heading">Product List</h1>
<div class="main-button-wrapper">
        <div class="buttons">
            <button mat-raised-button color="primary" [routerLink]='["newProduct"]'> <fa-icon [icon]="iconPack.plus"></fa-icon> Create New Product</button>
        </div>
    </div>
    <mat-spinner *ngIf="isLoading" class="center"></mat-spinner>
<app-product-table *ngIf="check" [incomingData]='productList'></app-product-table>
