<div class="header">
    <div class="divider">
        <div class="brand" >
            <div class="side-nav-icon">
                <fa-icon [icon]='iconPack.bars' size='2x' (click)='sideNavTogglerFunction()'></fa-icon>
            </div>
            <div class="logo-wrapper">
                <img src="../../../../../../assets/slicing/logo.svg" alt="">
            </div>
            <div class="brand-name" [routerLink]='["/","admin"]'>
                <h4 class="heading">Velocity POS</h4> 
            </div>
        </div>
        <div class="link-area">
            <div class="account-badge-area">
                <app-account-badge></app-account-badge>
            </div>
        </div>
    </div>
</div>