<div class='mat-elevation-z8'>

    <div class="field-wrapper">
        <mat-form-field><input type="text" matInput placeholder="SearchFilter" (input)='filterTable($event.target.value)'></mat-form-field>
    </div>
    <table mat-table matSort [dataSource]='dataSource' id="productTable">
        <ng-container  matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let row;let i=index">{{i+1}}</td>
        </ng-container>
        <ng-container matColumnDef="Franchise Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Franchise Name</th>
          <td mat-cell *matCellDef="let row">{{row.franchiseId.name}}</td>
      </ng-container>
        <ng-container matColumnDef="Supplier Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier Name</th>
            <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
        </ng-container>
        <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Comapny Name</th>
            <td mat-cell *matCellDef="let row">{{row.companyName}}</td>
        </ng-container>
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td mat-cell *matCellDef="let row">{{row.address}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
            <td mat-cell *matCellDef="let row">{{row.contactNo}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let row">
                <app-table-action buttons='["edit"]' (editHandler)="editHandler(row)"></app-table-action>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row: columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]='[5,10,20]' showFirstLastButtons></mat-paginator>
</div>
<app-popup-form (formResult)='submitForm($event)'></app-popup-form>