<h1 class="main-heading">User List</h1>
<div class="main-button-wrapper">
    <div class="buttons">
            <button mat-raised-button color="primary" type="button" [routerLink]='["../","userform"]'> <fa-icon [icon]="iconPack.plus" ></fa-icon> Create New User</button>
    </div>
    <div class="buttons">
            <button mat-raised-button color="warn" type="button">Summary</button>
    </div>
</div>
<mat-spinner *ngIf="isLoading" class="center"></mat-spinner>
<app-user-table *ngIf="checker" [incomingData]="tableData"></app-user-table>
