<div class="container" [ngClass]="visibleState ? 'show':'hidden'">
    <div class="nav-area">
        <div *ngFor="let route of siglePageRoutes">
            <app-side-nav-link [routerInput]="route"></app-side-nav-link>
        </div>
        <div *ngFor="let routePack of routesSideNav; let i=index">
          <div *ngIf="roleName == 'store admin'   && i >=0 && i < 2  ">
            <app-expansion  [routePack]='routePack'></app-expansion>
          </div>
          <div *ngIf="roleName == 'franchise admin'   && i>=2 && i <= 3">
            <app-expansion  [routePack]='routePack'></app-expansion>
          </div>
          <div *ngIf="roleName == 'accountant'   && i>=4 && i <= 4">
            <app-expansion  [routePack]='routePack'></app-expansion>
          </div>
        </div>
        <div>
            <app-side-nav-link [routerInput]="reportRoute"></app-side-nav-link>
        </div>
        <div>
      </div>
    </div>
</div>
