<h1 class="main-heading">
        Create New Supplier
    </h1>
    <div class="form-wrapper mat-elevation-z8">
        <form [formGroup]='supplierForm' (ngSubmit)=submit()>
            <div class="field-wrapper">
                <div class="field-wrapper">
                <mat-form-field>
                    <mat-label>Franchisis List</mat-label>
                    <mat-select formControlName="franchiseId"  required >
                      <mat-option  *ngFor="let c of allFranchises" [value]="c._id"    >
                        {{c.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>
                <mat-form-field><input type="text" formControlName="firstName" placeholder="First Name" matInput></mat-form-field>
            </div>
            <div class="field-wrapper">
                <mat-form-field><input type="text" formControlName="lastName" placeholder="Last Name" matInput></mat-form-field>
            </div>
            <div class="field-wrapper">
                <mat-form-field><input type="text" formControlName="companyName" placeholder="Company Name" matInput></mat-form-field>
            </div>
            <div class="field-wrapper">
                <mat-form-field><input type="text" formControlName="email" placeholder="Email" matInput></mat-form-field>
            </div>
            <div class="field-wrapper">
                    <mat-form-field><input matInput formControlName="phone" type="text" placeholder="Phone"></mat-form-field>
                </div>
            <div class="field-wrapper">
                <mat-form-field>
                    <textarea name="" formControlName="address" matInput id="" cols="30" rows="3" placeholder="Address"></textarea>
                </mat-form-field>
            </div>
            <div class="field-wrapper">
                <mat-form-field><input type="text" formControlName="accountNo" placeholder="Account No" matInput></mat-form-field>
            </div>

            <div class="field-wrapper button-wrapper">
                <button mat-raised-button color='accent'>Submit</button>
            </div>
        </form>
    </div>
